{
	margin: 0;
}
html,body{
height: 100%;	
}
h1,h2,h3,h4,h5,h6,p{
	margin-bottom: 20px;
}
nav h1 {position: fixed;
	text-align: left;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	color: #e3e4e5;
	z-index: 99;
	font-size: 75px;

}
nav{
	position: fixed;
height: 50px;
width: 100%;
background-color:rgba(0,0,0,.5); 
z-index: 99;
text-align: right;
}


nav a{
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	margin-right:50px;
	line-height: 50px;
}
.sect{
   height: 100%;
   background-color: aqua;
   background-size: cover;
   background-attachment: fixed;
}
.subsection{
 height: 30%;
 background-color: bisque;
}
.subsection h2{
	font-size: 30px;
	font-family:serif; ;
}
.subsection p{

    font-size: 20px;
    font-family: sans-serif;
}
.sectone{
 background-image: url("../003.jpg");
}
.secttwo{
	background-image: url("../004.jpg");
}
.sectthree{
	background-image: url("../005.jpg");
}
.sectfour{
	background-image: url("../006.jpg");
}
.sectfive{
	background-image: url("../001.jpg");
}
